.btn {
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: $link-color;
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 1;
    padding: $button-padding;
    cursor: pointer;
    text-decoration: none;
    @include control-transition;

    &.btn-small {
        font-size: 0.875rem;
    }

    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($link-color, 5%);
        border-color: darken($link-color, 7%);
    }

    &:focus {
        box-shadow: focus-shadow($link-color);
        outline: 0 none;
    }

    &:active {
        color: #fff;
        background-color: darken($link-color, 7%);
        border-color: darken($link-color, 9%);
    }

    &:disabled {
        background: #aaa;
        border-color: #aaa;
        opacity: 0.75;
        cursor: default;
    }
}
