:root {
    --brand-1: #393e7c;
    --brand-2: #8c8c8c;
    --brand-1-light: #4a5086;
    --brand-1-dark: #323447;
    --link-color: #4d5ef4;
    --success: #27be61;
    --danger: #d43333;
    --warning: #e9a920;
}
body {
    color: #333;
}
.logo {
    width: 300px;
}
.logo .logo-roof,
.logo .logo-builders {
    fill: var(--brand-2);
}
.logo .logo-r,
.logo .logo-relevant {
    fill: var(--brand-1);
}
.logo .logo-tagline {
    display: none;
}
.dropdown-toggle.no-toggle-icon::before,
.dropdown-toggle.no-toggle-icon::after {
    display: none;
}
.vld-icon {
    text-align: center;
}
@media (min-width: 992px) {
    .cropper-point {
        transform: scale(3);
    }
}
