<footer id="contact" class="py-5">
    <div class="wrapper">
        <h1>talk to us</h1>
        <div class="d-md-flex">
            <div class="flex-fill mr-md-3">
                <p>This is where it all begins. Drop us a line, and we'll get back to you to set up a consultation.</p>
                <include file="templates/_form.html" />
            </div>
            <div class="flex-fill ml-md-3 text-md-right d-md-flex flex-column">
                <nav class="footer-links flex-fill">
                    <div><a href="/process">Our Process</a></div>
                    <div><a href="/construction/design">Custom Design</a></div>
                    <div><a href="/construction">New Construction</a></div>
                    <div><a href="/construction/contracting">General Contracting</a></div>
                    <div><a href="/additions">Additions</a></div>
                    <div><a href="/reviews">Reviews</a></div>
                </nav>
                <div>
                    <include file="assets/images/logo.svg" />
                    <div class="text-white-50 copyright mt-2">&copy; 2020 Relevant Builders, LLC</div>
                </div>
            </div>
        </div>
    </div>
</footer>
