<nav class="main-nav d-flex py-2 wrapper">
    <a href="/" class="nav-brand">
        <include file="assets/images/logo.svg" />
    </a>
    <div class="d-lg-flex ml-auto align-items-center">
        <div class="nav-item">
            <a class="nav-link" href="/process">Our process</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/construction">New homes</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/remodeling">Remodels</a>
        </div>
        <div class="nav-item">
            <a class="btn btn-small" href="#contact">Get in touch</a>
        </div>
    </div>
</nav>
