<nav id="mainNav" class="main-nav d-flex align-items-center py-2 wrapper">
    <a href="/" class="nav-brand">
        <include file="assets/images/logo.svg" />
    </a>
    <button id="menuToggle" class="menu-toggle-btn ml-auto">
        <icon name="menu" class="icon menu-toggle-open" />
        <icon name="x" class="icon menu-toggle-close" />
    </button>
    <div class="nav-items ml-auto align-items-center">
        <div class="nav-item">
            <a class="nav-link" href="/process">Our process</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/construction">New homes</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/remodeling">Remodels</a>
        </div>
        <div class="nav-item">
            <a class="btn btn-small" href="#contact">Get in touch</a>
        </div>
    </div>
</nav>
