<div class="wrapper">
    <h1 class="text-center">talk to us</h1>
    <p>Drop us a line, and we’ll get back to you to set up a consultation.</p>
    <form id="footerForm" action="/api/message/send" method="post">
        <div class="form-group">
            <label for="footerFormName" class="control-label">What's your name?</label>
            <input class="form-control"
                    type="text"
                    name="name"
                    id="footerFormName"
                    placeholder="First and Last"
                    required
                    pattern="[\w\d' \.-]+">
        </div>
        <div class="form-group">
            <label for="footerFormContactInfo" class="control-label">How can we reach you?</label>
            <input class="form-control"
                    type="text"
                    name="contactInfo"
                    id="footerFormContactInfo"
                    placeholder="example@example.com / 715-555-1234"
                    required>
        </div>
        <div class="form-group">
            <label for="footerFormLocation" class="control-label">What's your address?</label>
            <input class="form-control"
                    type="text"
                    name="location"
                    id="footerFormLocation"
                    placeholder="123 Some St, Eau Claire, WI 54701"
                    required>
        </div>
        <div class="form-group">
            <label for="footerFormDescription" class="control-label">Briefly describe your project</label>
            <textarea class="form-control"
                    name="description"
                    id="footerFormDescription"></textarea>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
