.btn {
    border: 1px solid $link-color;
    background-color: $link-color;
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 1;
    padding: .5em 1em;
    cursor: pointer;
    text-decoration: none;
    @include control-transition;

    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($link-color, 5%);
        border-color: darken($link-color, 7%);
    }

    &:focus {
        box-shadow: focus-shadow($link-color);
        outline: 0 none;
    }

    &:active {
        color: #fff;
        background-color: darken($link-color, 7%);
        border-color: darken($link-color, 9%);
    }

    &:disabled {
        background: #aaa;
        border-color: #aaa;
        opacity: .75;
        cursor: default;
    }
}
