* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 20px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}

body {
    min-height: 100%;
    background-color: $brand-1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='560' preserveAspectRatio='none' viewBox='0 0 1900 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1900' height='560' x='0' y='0' fill='rgba(56%2c 63%2c 125%2c 1)'%3e%3c/rect%3e%3cpath d='M0 0L394.01 0L0 29.95z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 29.95L394.01 0L422.34999999999997 0L0 77.17z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 77.17L422.34999999999997 0L799.9 0L0 126.67z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 126.67L799.9 0L1132.17 0L0 213.64z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1900 560L1548.91 560L1900 373.38z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1900 373.38L1548.91 560L861.58 560L1900 234.9z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1900 234.89999999999998L861.5799999999999 560L344.65 560L1900 103.30999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1900 103.30999999999995L344.6500000000001 560L152.57000000000008 560L1900 91.29999999999994z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1900' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    padding: .5rem 1rem 1rem;
}

h1 {
    margin-top: 0;
    margin-bottom: .4em;
    font-size: 14vw;
    font-weight: 200;
    line-height: 1em;

    @include media-breakpoint-up(md) {
        font-size: 4rem;
    }
}

p {
    margin: 1em 0;
}

a {
    color: $link-color;
}
