/* Colors
   ========================================================================== */
$brand-1: #393e7c;
$brand-2: #8c8c8c;
$brand-1-light: #4a5086;
$brand-1-dark: #323447;
$link-color: #4d5ef4;
$link-color-light: #969dff;
$success: #27be61;
$danger: #d43333;
$warning: #e9a920;

$gray-100: #e5e5f1;
$gray-200: #cacad4;
$gray-300: #acacb6;
$gray-400: #95959e;
$gray-500: #4f4f53;
$gray-600: #1f1f20;

$shadow: 0 2px 3px rgba(0, 0, 0, .25);

$button-padding: 0.5em 1em;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$spacers: (
    auto: auto,
    0: 0,
    1: (1rem * 0.25),
    2: (1rem * 0.5),
    3: 1rem,
    4: (1rem * 1.5),
    5: (1rem * 3)
);

$directions: (
    t: (top),
    b: (bottom),
    l: (left),
    r: (right),
    x: (left, right),
    y: (top, bottom),
);

$displays: none, inline, inline-block, block, flex;

$h1-size: 4rem;
