.h1-sm {
    font-size: .5em;
    line-height: 1.25;
    opacity: .5;
    margin-bottom: -.5em;

    @include media-breakpoint-up(md) {
        font-size: .4em;
    }
}

.home-hero {
    h1 {
        @include flex-font-size(5rem, md);
    }
    .home-hero-text-row1 {
        margin-left: -4em;
    }
    .home-hero-text-row3 {
        font-size: .3em;
    }
}
