.h1-sm {
    font-size: .5em;
    line-height: 1.5;
    opacity: .5;

    @include media-breakpoint-up(md) {
        font-size: .4em;
    }
}

.home-wrapper {
    margin-bottom: 2rem;
}

.home-image-wrapper {
    border-top: .2rem solid rgba(255,255,255,.75);
    border-bottom: .3rem solid rgba(255,255,255,.75);
    padding-top: .15rem;
    padding-bottom: .25rem;
    margin-right: 1.5rem;


    img {
        margin-right: -1.5rem;
        width: calc(100% + 1.5rem);
        max-width: none;
        display: block;
    }

    &::after {
        display: block;
        content: "";
        height: .3rem;
        margin-top: .25rem;
        margin-right: -.75rem;
        width: calc(100% + .75rem);
        background: rgba($brand-2, .75);
    }
}
