.quotes {
    flex-wrap: wrap;
    background-color: $brand-1;

    blockquote {
        break-inside: avoid;
        page-break-inside: avoid;
        padding: 4rem;
        color: #fff;
        border: 0.5rem solid rgba(255, 255, 255, 0.05);
        position: relative;
        font-size: 1.4rem;
        flex-basis: 50%;

        &:nth-child(4n + 1),
        &:nth-child(4n + 3) {
            &:last-child {
                flex-basis: 100%;
            }
        }

        &:nth-child(5n + 1) {
            background-color: $brand-2;
        }

        &:nth-child(5n + 2) {
            background-color: $brand-1;
        }

        &:nth-child(5n + 3) {
            background-color: $brand-1-light;
        }

        &:nth-child(5n + 4) {
            background-color: $brand-1-dark;
        }

        &:nth-child(5n + 5) {
            color: $brand-1-dark;
            background-color: #fff;
        }

        @include media-breakpoint-up(xl) {
            &:nth-child(4n + 1) {
                flex-basis: 40%;
            }

            &:nth-child(4n + 2) {
                flex-basis: 60%;
            }

            &:nth-child(4n + 3) {
                flex-basis: 60%;
            }

            &:nth-child(4n + 4) {
                flex-basis: 40%;
            }
        }

        &::before {
            content: '\201C';
            font-size: 10rem;
            line-height: 1;
            position: absolute;
            top: 3rem;
            left: 0;
            width: 3.5rem;
            text-align: right;
            opacity: 0.25;
        }

        cite {
            display: block;
            margin-top: 1em;
            font-size: 1rem;
        }

        p {
            margin: 0;
        }
    }
}
