.bg-white { background-color: #fff !important; }
.bg-blue { background-color: $brand-1 !important; }
.bg-blue-light { background-color: $brand-1-light !important; }
.bg-blue-dark { background-color: $brand-1-dark !important; }
.bg-gray { background-color: $brand-2 !important; }
