.flex-fill {
    flex: 1 !important;
}

.align-items-center {
    align-items: center !important;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-between {
    justify-content: space-between;
}
