script(type="text/x-template" id="modalTemplate")
    div(:class="['modal fade', { show: isShow }]" @click="handleModalClick")
        .modal-dialog
            .modal-content
                div(:class="['modal-header', headerClass]")
                    h5.modal-title
                        slot(name="title")
                    button.close(type="button" @click="$emit('close')")
                        icon(name="x")
                .modal-body
                    slot
                .modal-footer
                    slot(name="footer")
                        button.btn.btn-secondary(type="button" @click="$emit('close')")
                            |Close
style
    include ./modal.css

script
    include ./modal.js
