meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

title= title

link(rel="stylesheet" href="/s/admin/vendor/bootstrap/bootstrap.min.css")
link(rel="stylesheet" href="/s/admin/vendor/cropperjs/cropper.min.css")
link(rel="stylesheet" href="/s/admin/vendor/vue-toasted/vue-toasted.min.css")
link(rel="stylesheet" href="/s/admin/vendor/vue-loading/vue-loading.css")
link(rel="stylesheet" href="/s/admin/css/main.css")

script(src="/s/admin/vendor/vue/vue.min.js")
script(src="/s/admin/vendor/cropperjs/cropper.min.js")
script(src="/s/admin/vendor/feather-icons/feather.min.js")
script(src="/s/admin/vendor/vue-toasted/vue-toasted.min.js")
script(src="/s/admin/vendor/vue-loading/vue-loading.min.js")
